.sideBar__container {
  height: 100%;
  /* width: 200px; */
  background-color: #9eceff;
}

.sideBar__list {
  height: auto;
  width: 100%;
  padding: 0;
}

.sideBar__list .sideBar__row {
  /* width: 100%; */
  height: 60px;
  /* border: 2px solid #2c70b4; */
  list-style-type: none;
  margin: 2%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.sideBar__list .sideBar__row:hover {
  /* cursor: pointer; */
  background-color: #1976d2;
}

.cursor {
  cursor: pointer;
}
/* .sideBar__list #active {
  background-color: #1976d2;
} */

.icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.title {
  flex: 70%;
}
